
<div class="upperDiv" id="upperDiv">
    <button class="btn btn-lg btn-primary btn-block" id="addArticleButton" ng-click="addArticle()">Add Article up</button>
    <button class="btn btn-lg btn-primary btn-block" id="userDetailButton" ng-click="userDetail()">ASD {{user.username}}</button>
</div>

<form class="form-newBook" ng-controller="bookController">
  <h2 class="form-newBook-heading">Create a new book</h2>
  <label for="inputTitle" class="sr-only">Book Title</label>
  <input id="inputTitle" ng-model="title" class="form-control" placeholder="Book Title" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginSubmit()">Login</button>
</form>