body {
    font-family: 'Roboto', sans-serif;
}

.contentHolder {
    background-color: #79ACB5;
    min-height: 1095px;
}

.ui-view-holder {
    background-color: white;
    border: 10px solid rgba(0,0,0,0.2);
    border-radius: 30px 30px 10px 10px;
    background-clip: padding-box;
}

.headerHolder {
    width: auto;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: xx-large;
    color: rgba(0,0,0,0.6);
}

.logoImg {
    height: 100%;
    background: url(../img/logo32.png);
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.slogan {
    height: 100%;
}
